USE [master]
GO
/****** Object:  Database [EventZone]    Script Date: 12/08/2015 9:35:00 CH ******/
CREATE DATABASE [EventZone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventZone', FILENAME = N'B:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EventZone.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EventZone_log', FILENAME = N'B:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EventZone_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventZone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventZone]
GO
/****** Object:  Table [dbo].[Action]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action](
	[ActionID] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ActorAction] PRIMARY KEY CLUSTERED 
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Appeal]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appeal](
	[AppealID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[AppealContent] [nvarchar](max) NOT NULL,
	[AppealStatus] [int] NOT NULL,
	[SendDate] [date] NOT NULL,
	[ResultDate] [date] NULL,
	[HandleBy] [bigint] NULL,
 CONSTRAINT [PK_Appeal] PRIMARY KEY CLUSTERED 
(
	[AppealID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](256) NOT NULL,
	[CategoryAvatar] [bigint] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoryFollow]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryFollow](
	[CategoryFollowID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryID] [bigint] NOT NULL,
	[FollowerID] [bigint] NOT NULL,
 CONSTRAINT [PK_CategoryFollow] PRIMARY KEY CLUSTERED 
(
	[CategoryFollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Channel]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channel](
	[ChannelID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ChannelName] [nvarchar](512) NOT NULL,
	[ChannelDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Channel] PRIMARY KEY CLUSTERED 
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[DateIssue] [datetime] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChannelID] [bigint] NOT NULL,
	[EventName] [nvarchar](1024) NOT NULL,
	[EventStartDate] [datetime] NOT NULL,
	[EventEndDate] [datetime] NOT NULL,
	[EventDescription] [nvarchar](max) NULL,
	[EventRegisterDate] [datetime] NOT NULL,
	[View] [bigint] NOT NULL,
	[CategoryID] [bigint] NOT NULL,
	[Privacy] [int] NOT NULL,
	[Avatar] [bigint] NULL,
	[EditBy] [bigint] NULL,
	[EditTime] [datetime] NULL,
	[EditContent] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[LockedReason] [nvarchar](100) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventFollow]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventFollow](
	[EventFollowID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[FollowerID] [bigint] NOT NULL,
 CONSTRAINT [PK_EventFollow] PRIMARY KEY CLUSTERED 
(
	[EventFollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventImage]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventImage](
	[EventImageID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NULL,
	[ImageID] [bigint] NULL,
	[Approve] [bit] NULL,
 CONSTRAINT [PK_EventImage] PRIMARY KEY CLUSTERED 
(
	[EventImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventPlace]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventPlace](
	[EventPlaceID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[LocationID] [bigint] NOT NULL,
 CONSTRAINT [PK_EventPlace] PRIMARY KEY CLUSTERED 
(
	[EventPlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventRank]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventRank](
	[EventId] [bigint] NOT NULL,
	[Score] [bigint] NOT NULL,
 CONSTRAINT [PK_EventRank] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ImageID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[ImageLink] [nvarchar](256) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Gallery] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LikeDislike]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LikeDislike](
	[LikeDislikeID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_LikeDislike_1] PRIMARY KEY CLUSTERED 
(
	[LikeDislikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [bigint] IDENTITY(1,1) NOT NULL,
	[Longitude] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[LocationName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationChange]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationChange](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationObjectID] [bigint] NOT NULL,
	[ActorID] [bigint] NULL,
	[EventID] [bigint] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_NotificationChange] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationObject]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationObject](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NotificationID] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Notification_object] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PeopleFollow]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeopleFollow](
	[PeopleFollowID] [bigint] IDENTITY(1,1) NOT NULL,
	[FollowerUserID] [bigint] NOT NULL,
	[FollowingUserID] [bigint] NOT NULL,
 CONSTRAINT [PK_PeopleFollow] PRIMARY KEY CLUSTERED 
(
	[PeopleFollowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Report]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[SenderID] [bigint] NOT NULL,
	[ReportType] [int] NOT NULL,
	[ReportContent] [nvarchar](max) NULL,
	[ReportStatus] [int] NOT NULL,
	[ReportDate] [datetime] NOT NULL,
	[HandleDate] [datetime] NULL,
	[HandleBy] [bigint] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReportDefine]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDefine](
	[ReportTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ReportTypeName] [nvarchar](50) NULL,
	[ReportDefine] [nvarchar](200) NULL,
 CONSTRAINT [PK_ReportDefine] PRIMARY KEY CLUSTERED 
(
	[ReportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Share]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[ShareID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
 CONSTRAINT [PK_Share] PRIMARY KEY CLUSTERED 
(
	[ShareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrackingAction]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackingAction](
	[TrackingID] [bigint] IDENTITY(1,1) NOT NULL,
	[SenderID] [bigint] NOT NULL,
	[ReceiverID] [bigint] NOT NULL,
	[SenderType] [int] NOT NULL,
	[ReceiverType] [int] NULL,
	[ActionID] [int] NOT NULL,
	[ActionTime] [datetime] NOT NULL,
 CONSTRAINT [PK_TrackingAction] PRIMARY KEY CLUSTERED 
(
	[TrackingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserFirstName] [nvarchar](32) NOT NULL,
	[UserLastName] [nvarchar](32) NULL,
	[UserEmail] [nvarchar](64) NOT NULL,
	[UserDOB] [date] NOT NULL,
	[IDCard] [nvarchar](16) NULL,
	[UserRoles] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Place] [nvarchar](max) NULL,
	[AccountStatus] [bit] NOT NULL,
	[Gender] [int] NOT NULL,
	[Avartar] [bigint] NULL,
	[DataJoin] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Video]    Script Date: 12/08/2015 9:35:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[VideoID] [bigint] IDENTITY(1,1) NOT NULL,
	[EventPlaceID] [bigint] NOT NULL,
	[VideoLink] [nvarchar](256) NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Privacy] [int] NOT NULL,
	[PrimaryServer] [nvarchar](50) NULL,
	[BackupServer] [nvarchar](50) NULL,
	[StreamName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Action] ON 

INSERT [dbo].[Action] ([ActionID], [ActionName]) VALUES (1, N'Lock Event')
INSERT [dbo].[Action] ([ActionID], [ActionName]) VALUES (2, N'Unlock Event')
INSERT [dbo].[Action] ([ActionID], [ActionName]) VALUES (3, N'Lock User')
SET IDENTITY_INSERT [dbo].[Action] OFF
SET IDENTITY_INSERT [dbo].[Appeal] ON 

INSERT [dbo].[Appeal] ([AppealID], [EventID], [AppealContent], [AppealStatus], [SendDate], [ResultDate], [HandleBy]) VALUES (1, 2, N' 124253424', 1, CAST(0xB93A0B00 AS Date), CAST(0xBA3A0B00 AS Date), 13)
INSERT [dbo].[Appeal] ([AppealID], [EventID], [AppealContent], [AppealStatus], [SendDate], [ResultDate], [HandleBy]) VALUES (2, 4, N' 4123535', 2, CAST(0xBC3A0B00 AS Date), NULL, 13)
INSERT [dbo].[Appeal] ([AppealID], [EventID], [AppealContent], [AppealStatus], [SendDate], [ResultDate], [HandleBy]) VALUES (3, 3, N' 42515', 2, CAST(0xB93A0B00 AS Date), CAST(0xBA3A0B00 AS Date), 13)
SET IDENTITY_INSERT [dbo].[Appeal] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryAvatar]) VALUES (1, N'Music', 10035)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryAvatar]) VALUES (2, N'Food & Drink', 10034)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryAvatar]) VALUES (3, N'Classes', 10039)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[CategoryFollow] ON 

INSERT [dbo].[CategoryFollow] ([CategoryFollowID], [CategoryID], [FollowerID]) VALUES (1, 6, 12)
INSERT [dbo].[CategoryFollow] ([CategoryFollowID], [CategoryID], [FollowerID]) VALUES (2, 2, 12)
INSERT [dbo].[CategoryFollow] ([CategoryFollowID], [CategoryID], [FollowerID]) VALUES (9, 7, 13)
SET IDENTITY_INSERT [dbo].[CategoryFollow] OFF
SET IDENTITY_INSERT [dbo].[Channel] ON 

INSERT [dbo].[Channel] ([ChannelID], [UserID], [ChannelName], [ChannelDescription]) VALUES (1, 2, N'', N'')
INSERT [dbo].[Channel] ([ChannelID], [UserID], [ChannelName], [ChannelDescription]) VALUES (2, 4, N'cuong', N'')
INSERT [dbo].[Channel] ([ChannelID], [UserID], [ChannelName], [ChannelDescription]) VALUES (3, 7, N'cuong', N'')
SET IDENTITY_INSERT [dbo].[Channel] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [EventID], [UserID], [CommentContent], [DateIssue]) VALUES (1, 1, 12, N'Hello', CAST(0x0000A52D00000000 AS DateTime))
INSERT [dbo].[Comment] ([CommentID], [EventID], [UserID], [CommentContent], [DateIssue]) VALUES (2, 1, 12, N'How are you?', CAST(0x0000A52D00000000 AS DateTime))
INSERT [dbo].[Comment] ([CommentID], [EventID], [UserID], [CommentContent], [DateIssue]) VALUES (3, 1, 12, N'124124124', CAST(0x0000A52D00000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventID], [ChannelID], [EventName], [EventStartDate], [EventEndDate], [EventDescription], [EventRegisterDate], [View], [CategoryID], [Privacy], [Avatar], [EditBy], [EditTime], [EditContent], [Status], [IsVerified], [LockedReason]) VALUES (0, 8, N'test1', CAST(0x0000A45800A02030 AS DateTime), CAST(0x0000A51000A06680 AS DateTime), N'Enter your description', CAST(0x0000A54B00A053B6 AS DateTime), 41, 7, 0, 3, 13, CAST(0x0000A568014972CF AS DateTime), N'I dont want your event in my website xD', 0, 0, NULL)
INSERT [dbo].[Event] ([EventID], [ChannelID], [EventName], [EventStartDate], [EventEndDate], [EventDescription], [EventRegisterDate], [View], [CategoryID], [Privacy], [Avatar], [EditBy], [EditTime], [EditContent], [Status], [IsVerified], [LockedReason]) VALUES (1, 2, N'LadyByNight', CAST(0x0000A53600000000 AS DateTime), CAST(0x0000A53700000000 AS DateTime), N'Lady by night được tổ chức hàng năm vào ngày 20/10 - DH FPT', CAST(0x0000A53600000000 AS DateTime), 1169, 5, 0, 3, 13, CAST(0x0000A56800A8B74A AS DateTime), N'', 1, 0, NULL)
INSERT [dbo].[Event] ([EventID], [ChannelID], [EventName], [EventStartDate], [EventEndDate], [EventDescription], [EventRegisterDate], [View], [CategoryID], [Privacy], [Avatar], [EditBy], [EditTime], [EditContent], [Status], [IsVerified], [LockedReason]) VALUES (2, 8, N'Final ESL ', CAST(0x0000A4F100A4CB80 AS DateTime), CAST(0x0000A5100127CE90 AS DateTime), N'Giai dau dota', CAST(0x0000A54A01287DC2 AS DateTime), 37, 1, 0, 3, 13, CAST(0x0000A55C001FE454 AS DateTime), N'', 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Event] OFF
SET IDENTITY_INSERT [dbo].[EventFollow] ON 

INSERT [dbo].[EventFollow] ([EventFollowID], [EventID], [FollowerID]) VALUES (7, 1, 3)
INSERT [dbo].[EventFollow] ([EventFollowID], [EventID], [FollowerID]) VALUES (8, 1, 5)
INSERT [dbo].[EventFollow] ([EventFollowID], [EventID], [FollowerID]) VALUES (59, 1, 4)
SET IDENTITY_INSERT [dbo].[EventFollow] OFF
SET IDENTITY_INSERT [dbo].[EventImage] ON 

INSERT [dbo].[EventImage] ([EventImageID], [EventID], [ImageID], [Approve]) VALUES (1, 1, 3, 1)
INSERT [dbo].[EventImage] ([EventImageID], [EventID], [ImageID], [Approve]) VALUES (7, 9, 10022, 1)
INSERT [dbo].[EventImage] ([EventImageID], [EventID], [ImageID], [Approve]) VALUES (12, 40, 10040, 1)
SET IDENTITY_INSERT [dbo].[EventImage] OFF
SET IDENTITY_INSERT [dbo].[EventPlace] ON 

INSERT [dbo].[EventPlace] ([EventPlaceID], [EventID], [LocationID]) VALUES (1, 1, 7)
INSERT [dbo].[EventPlace] ([EventPlaceID], [EventID], [LocationID]) VALUES (2, 1, 2)
INSERT [dbo].[EventPlace] ([EventPlaceID], [EventID], [LocationID]) VALUES (3, 2, 8)
GO
SET IDENTITY_INSERT [dbo].[EventPlace] OFF
INSERT [dbo].[EventRank] ([EventId], [Score]) VALUES (0, 242)
INSERT [dbo].[EventRank] ([EventId], [Score]) VALUES (1, 4914)
INSERT [dbo].[EventRank] ([EventId], [Score]) VALUES (2, 238)
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ImageID], [UserID], [ImageLink], [UploadDate]) VALUES (3, 2, N'http://i.imgur.com/vCBNmUy.gif', CAST(0x0000A53700000000 AS DateTime))
INSERT [dbo].[Image] ([ImageID], [UserID], [ImageLink], [UploadDate]) VALUES (10005, 13, N'http://i.imgur.com/vCBNmUy.gif', CAST(0x0000A54700000000 AS DateTime))
INSERT [dbo].[Image] ([ImageID], [UserID], [ImageLink], [UploadDate]) VALUES (10006, 12, N'http://i.imgur.com/vCBNmUy.gif', CAST(0x0000A54700000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[LikeDislike] ON 

INSERT [dbo].[LikeDislike] ([LikeDislikeID], [EventID], [UserID], [Type]) VALUES (1, 1, 2, 1)
INSERT [dbo].[LikeDislike] ([LikeDislikeID], [EventID], [UserID], [Type]) VALUES (2, 1, 3, -1)
INSERT [dbo].[LikeDislike] ([LikeDislikeID], [EventID], [UserID], [Type]) VALUES (3, 1, 13, 1)
SET IDENTITY_INSERT [dbo].[LikeDislike] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationID], [Longitude], [Latitude], [LocationName]) VALUES (2, 105.837017, 21.030379, N'Bảo tàng Mỹ thuật Việt Nam, 66 Nguyễn Thái Học, Hà Nội')
INSERT [dbo].[Location] ([LocationID], [Longitude], [Latitude], [LocationName]) VALUES (3, 105.84899, 21.022947, N'Trung tâm Giao lưu Văn hóa Nhật Bản tại Việt Nam 27 Quang Trung, Hoàn Kiếm, Hà Nội')
INSERT [dbo].[Location] ([LocationID], [Longitude], [Latitude], [LocationName]) VALUES (4, 105.856258, 21.024564, N'Swing 21 Tràng Tiền, Hà Nội')
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([ID], [UserID]) VALUES (1, 13)
INSERT [dbo].[Notification] ([ID], [UserID]) VALUES (2, 36)
INSERT [dbo].[Notification] ([ID], [UserID]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[Notification] OFF
SET IDENTITY_INSERT [dbo].[NotificationChange] ON 

INSERT [dbo].[NotificationChange] ([ID], [NotificationObjectID], [ActorID], [EventID], [IsRead], [CreatedDate]) VALUES (3, 2, 13, 10111, 1, CAST(0x0000A56200ABDEF0 AS DateTime))
INSERT [dbo].[NotificationChange] ([ID], [NotificationObjectID], [ActorID], [EventID], [IsRead], [CreatedDate]) VALUES (4, 3, 13, 10111, 1, CAST(0x0000A56200ABDF06 AS DateTime))
INSERT [dbo].[NotificationChange] ([ID], [NotificationObjectID], [ActorID], [EventID], [IsRead], [CreatedDate]) VALUES (5, 2, 13, 10112, 1, CAST(0x0000A56200C33A91 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[NotificationChange] OFF
SET IDENTITY_INSERT [dbo].[NotificationObject] ON 

INSERT [dbo].[NotificationObject] ([ID], [NotificationID], [Type]) VALUES (1, 1, 4)
INSERT [dbo].[NotificationObject] ([ID], [NotificationID], [Type]) VALUES (2, 2, 1)
INSERT [dbo].[NotificationObject] ([ID], [NotificationID], [Type]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[NotificationObject] OFF
SET IDENTITY_INSERT [dbo].[PeopleFollow] ON 

INSERT [dbo].[PeopleFollow] ([PeopleFollowID], [FollowerUserID], [FollowingUserID]) VALUES (3, 13, 3)
INSERT [dbo].[PeopleFollow] ([PeopleFollowID], [FollowerUserID], [FollowingUserID]) VALUES (18, 36, 13)
INSERT [dbo].[PeopleFollow] ([PeopleFollowID], [FollowerUserID], [FollowingUserID]) VALUES (20, 13, 1)
SET IDENTITY_INSERT [dbo].[PeopleFollow] OFF
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportID], [EventID], [SenderID], [ReportType], [ReportContent], [ReportStatus], [ReportDate], [HandleDate], [HandleBy]) VALUES (1, 1, 13, 1, N'', 1, CAST(0x0000A55B0025A8F3 AS DateTime), CAST(0x0000A55C0020391E AS DateTime), 13)
INSERT [dbo].[Report] ([ReportID], [EventID], [SenderID], [ReportType], [ReportContent], [ReportStatus], [ReportDate], [HandleDate], [HandleBy]) VALUES (2, 2, 13, 1, N'', 3, CAST(0x0000A55B002B325A AS DateTime), CAST(0x0000A55E013F1FAB AS DateTime), 13)
INSERT [dbo].[Report] ([ReportID], [EventID], [SenderID], [ReportType], [ReportContent], [ReportStatus], [ReportDate], [HandleDate], [HandleBy]) VALUES (3, 13, 13, 1, N'', 1, CAST(0x0000A55B002B747A AS DateTime), CAST(0x0000A56100BB494E AS DateTime), 13)
SET IDENTITY_INSERT [dbo].[Report] OFF
SET IDENTITY_INSERT [dbo].[ReportDefine] ON 

INSERT [dbo].[ReportDefine] ([ReportTypeID], [ReportTypeName], [ReportDefine]) VALUES (1, N'Sexual content', N'Includes graphic sexual activity, nudity, and other sexual content.')
INSERT [dbo].[ReportDefine] ([ReportTypeID], [ReportTypeName], [ReportDefine]) VALUES (2, N'Violent or repulsive content', N'Violent or graphic content, or content posted to shock viewers.')
INSERT [dbo].[ReportDefine] ([ReportTypeID], [ReportTypeName], [ReportDefine]) VALUES (8, N'Hateful or abusive content', N'Content that promotes hatred against protected groups, abuses vulnerable individuals, or engages in cyberbullying.')
SET IDENTITY_INSERT [dbo].[ReportDefine] OFF
SET IDENTITY_INSERT [dbo].[TrackingAction] ON 

INSERT [dbo].[TrackingAction] ([TrackingID], [SenderID], [ReceiverID], [SenderType], [ReceiverType], [ActionID], [ActionTime]) VALUES (7, 13, 13, 2, 0, 1, CAST(0x0000A5540028077D AS DateTime))
INSERT [dbo].[TrackingAction] ([TrackingID], [SenderID], [ReceiverID], [SenderType], [ReceiverType], [ActionID], [ActionTime]) VALUES (8, 13, 13, 2, 0, 1, CAST(0x0000A55400280C89 AS DateTime))
INSERT [dbo].[TrackingAction] ([TrackingID], [SenderID], [ReceiverID], [SenderType], [ReceiverType], [ActionID], [ActionTime]) VALUES (9, 13, 4, 2, 0, 1, CAST(0x0000A55400281135 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TrackingAction] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [UserFirstName], [UserLastName], [UserEmail], [UserDOB], [IDCard], [UserRoles], [Phone], [Place], [AccountStatus], [Gender], [Avartar], [DataJoin]) VALUES (1, N'cuongnv764119', N'489845d6089a0710bff1d4f99a0acc86', N'Cuong1', N'Nguyen Van', N'441@g4.cc', CAST(0x9F1A0B00 AS Date), NULL, 0, NULL, NULL, 1, 0, 3, CAST(0x9C3A0B00 AS Date))
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [UserFirstName], [UserLastName], [UserEmail], [UserDOB], [IDCard], [UserRoles], [Phone], [Place], [AccountStatus], [Gender], [Avartar], [DataJoin]) VALUES (2, N'cuongnvse02837', N'489845d6089a0710bff1d4f99a0acc86', N'cuong2', NULL, N'cuongnvse02837@fpt.edu.vn', CAST(0x9F1A0B00 AS Date), NULL, 0, NULL, NULL, 1, 0, 3, CAST(0x9C3A0B00 AS Date))
INSERT [dbo].[User] ([UserID], [UserName], [UserPassword], [UserFirstName], [UserLastName], [UserEmail], [UserDOB], [IDCard], [UserRoles], [Phone], [Place], [AccountStatus], [Gender], [Avartar], [DataJoin]) VALUES (3, N'cuong1111', N'489845d6089a0710bff1d4f99a0acc86', N'cuong3', NULL, N'cuongnv1412@gmail.com', CAST(0xC3150B00 AS Date), NULL, 0, NULL, NULL, 1, 0, 3, CAST(0x9C3A0B00 AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([VideoID], [EventPlaceID], [VideoLink], [StartTime], [EndTime], [Privacy], [PrimaryServer], [BackupServer], [StreamName]) VALUES (2, 20, N'https://www.youtube.com/watch?v=xsHfZA-gGLE', CAST(0x0000A55401225050 AS DateTime), CAST(0x0000A55501225050 AS DateTime), 0, N'rtmp://a.rtmp.youtube.com/live2', N'rtmp://b.rtmp.youtube.com/live2?backup=1', NULL)
INSERT [dbo].[Video] ([VideoID], [EventPlaceID], [VideoLink], [StartTime], [EndTime], [Privacy], [PrimaryServer], [BackupServer], [StreamName]) VALUES (3, 22, N'https://www.youtube.com/watch?v=3vqaaozEXwk', CAST(0x0000A55101373010 AS DateTime), CAST(0x0000A55201373010 AS DateTime), 0, N'rtmp://a.rtmp.youtube.com/live2', N'rtmp://b.rtmp.youtube.com/live2?backup=1', NULL)
INSERT [dbo].[Video] ([VideoID], [EventPlaceID], [VideoLink], [StartTime], [EndTime], [Privacy], [PrimaryServer], [BackupServer], [StreamName]) VALUES (10, 47, N'https://www.youtube.com/watch?v=ooK9qdKjZXI', CAST(0x0000A5520159CB70 AS DateTime), CAST(0x0000A552016A4630 AS DateTime), 0, N'rtmp://a.rtmp.youtube.com/live2', N'rtmp://b.rtmp.youtube.com/live2?backup=1', NULL)
SET IDENTITY_INSERT [dbo].[Video] OFF
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_DateIssue]  DEFAULT (getdate()) FOR [DateIssue]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_LockedReason]  DEFAULT (N'Your event against our Term Of Service') FOR [LockedReason]
GO
ALTER TABLE [dbo].[EventImage] ADD  CONSTRAINT [DF_EventImage_Approve]  DEFAULT ((1)) FOR [Approve]
GO
ALTER TABLE [dbo].[NotificationChange] ADD  CONSTRAINT [DF_NotificationChange_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[NotificationChange] ADD  CONSTRAINT [DF_NotificationChange_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TrackingAction] ADD  CONSTRAINT [DF_TrackingAction_ActionTime]  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_DataJoin]  DEFAULT (getdate()) FOR [DataJoin]
GO
ALTER TABLE [dbo].[Appeal]  WITH CHECK ADD  CONSTRAINT [FK_Appeal_Event1] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Appeal] CHECK CONSTRAINT [FK_Appeal_Event1]
GO
ALTER TABLE [dbo].[Appeal]  WITH CHECK ADD  CONSTRAINT [FK_Appeal_User] FOREIGN KEY([HandleBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Appeal] CHECK CONSTRAINT [FK_Appeal_User]
GO
ALTER TABLE [dbo].[CategoryFollow]  WITH CHECK ADD  CONSTRAINT [FK_CategoryFollow_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[CategoryFollow] CHECK CONSTRAINT [FK_CategoryFollow_Category]
GO
ALTER TABLE [dbo].[CategoryFollow]  WITH CHECK ADD  CONSTRAINT [FK_CategoryFollow_User] FOREIGN KEY([FollowerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[CategoryFollow] CHECK CONSTRAINT [FK_CategoryFollow_User]
GO
ALTER TABLE [dbo].[Channel]  WITH CHECK ADD  CONSTRAINT [FK_Channel_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Channel] CHECK CONSTRAINT [FK_Channel_User]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Event1] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Event1]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Category]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Channel1] FOREIGN KEY([ChannelID])
REFERENCES [dbo].[Channel] ([ChannelID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Channel1]
GO
ALTER TABLE [dbo].[EventFollow]  WITH CHECK ADD  CONSTRAINT [FK_EventFollow_Event1] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventFollow] CHECK CONSTRAINT [FK_EventFollow_Event1]
GO
ALTER TABLE [dbo].[EventFollow]  WITH CHECK ADD  CONSTRAINT [FK_EventFollow_User] FOREIGN KEY([FollowerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[EventFollow] CHECK CONSTRAINT [FK_EventFollow_User]
GO
ALTER TABLE [dbo].[EventImage]  WITH CHECK ADD  CONSTRAINT [FK_EventImage_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventImage] CHECK CONSTRAINT [FK_EventImage_Event]
GO
ALTER TABLE [dbo].[EventImage]  WITH CHECK ADD  CONSTRAINT [FK_EventImage_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[EventImage] CHECK CONSTRAINT [FK_EventImage_Image]
GO
ALTER TABLE [dbo].[EventPlace]  WITH CHECK ADD  CONSTRAINT [FK_EventPlace_Event1] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventPlace] CHECK CONSTRAINT [FK_EventPlace_Event1]
GO
ALTER TABLE [dbo].[EventPlace]  WITH CHECK ADD  CONSTRAINT [FK_EventPlace_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[EventPlace] CHECK CONSTRAINT [FK_EventPlace_Location]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Gallery_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Gallery_User]
GO
ALTER TABLE [dbo].[LikeDislike]  WITH CHECK ADD  CONSTRAINT [FK_LikeDislike_Event1] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[LikeDislike] CHECK CONSTRAINT [FK_LikeDislike_Event1]
GO
ALTER TABLE [dbo].[LikeDislike]  WITH CHECK ADD  CONSTRAINT [FK_LikeDislike_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[LikeDislike] CHECK CONSTRAINT [FK_LikeDislike_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[NotificationChange]  WITH CHECK ADD  CONSTRAINT [FK_NotificationChange_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[NotificationChange] CHECK CONSTRAINT [FK_NotificationChange_Event]
GO
ALTER TABLE [dbo].[NotificationChange]  WITH CHECK ADD  CONSTRAINT [FK_NotificationChange_NotificationObject] FOREIGN KEY([NotificationObjectID])
REFERENCES [dbo].[NotificationObject] ([ID])
GO
ALTER TABLE [dbo].[NotificationChange] CHECK CONSTRAINT [FK_NotificationChange_NotificationObject]
GO
ALTER TABLE [dbo].[NotificationChange]  WITH CHECK ADD  CONSTRAINT [FK_NotificationChange_User] FOREIGN KEY([ActorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[NotificationChange] CHECK CONSTRAINT [FK_NotificationChange_User]
GO
ALTER TABLE [dbo].[NotificationObject]  WITH CHECK ADD  CONSTRAINT [FK_NotificationObject_Notification] FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notification] ([ID])
GO
ALTER TABLE [dbo].[NotificationObject] CHECK CONSTRAINT [FK_NotificationObject_Notification]
GO
ALTER TABLE [dbo].[PeopleFollow]  WITH CHECK ADD  CONSTRAINT [FK_PeopleFollow_User] FOREIGN KEY([FollowerUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[PeopleFollow] CHECK CONSTRAINT [FK_PeopleFollow_User]
GO
ALTER TABLE [dbo].[PeopleFollow]  WITH CHECK ADD  CONSTRAINT [FK_PeopleFollow_User3] FOREIGN KEY([FollowingUserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[PeopleFollow] CHECK CONSTRAINT [FK_PeopleFollow_User3]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Event]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ReportDefine] FOREIGN KEY([ReportType])
REFERENCES [dbo].[ReportDefine] ([ReportTypeID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ReportDefine]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_Event1] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_Event1]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_User]
GO
ALTER TABLE [dbo].[TrackingAction]  WITH CHECK ADD  CONSTRAINT [FK_TrackingAction_ActorAction] FOREIGN KEY([ActionID])
REFERENCES [dbo].[Action] ([ActionID])
GO
ALTER TABLE [dbo].[TrackingAction] CHECK CONSTRAINT [FK_TrackingAction_ActorAction]
GO
ALTER TABLE [dbo].[TrackingAction]  WITH CHECK ADD  CONSTRAINT [FK_TrackingAction_User2] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[TrackingAction] CHECK CONSTRAINT [FK_TrackingAction_User2]
GO
ALTER TABLE [dbo].[TrackingAction]  WITH CHECK ADD  CONSTRAINT [FK_TrackingAction_User3] FOREIGN KEY([SenderID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[TrackingAction] CHECK CONSTRAINT [FK_TrackingAction_User3]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Image] FOREIGN KEY([Avartar])
REFERENCES [dbo].[Image] ([ImageID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Image]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FK_Video_EventPlace] FOREIGN KEY([EventPlaceID])
REFERENCES [dbo].[EventPlace] ([EventPlaceID])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FK_Video_EventPlace]
GO
USE [master]
GO
